:root {
  --primary: #F15100;
  --primary-light: #FCECE3;
  --green: #6D7E5C;
  --green-dark: #121E0A;
  
  --gray: #323232;
  --gray-2: #474646;
  --gray-light: #F4F2F0;

  --font-family: "Plusjakartasans-Regular", sans-serif;
  --section-padding: clamp(45px, 7vw, 100px) 0;
  --heading-color: #323232;
}
